<script>
function goBack()
  {
  window.history.back()
  }
</script>
 <h2>Hi <%= @student.name %>, please select a book to check out:</h2>

<form action="<%= @library.id %>/checkout_confirm" method="post" accept-charset="utf-8">
<ul class="pick-list" id="book-list">

<% @books.each do |book| 
    book_label_id = "books_book_id_ #{book.id}"
    %>
    
  <li><label> <%= radio_button_tag("books[book_id]", book.id) %> <em><%= book.title %></em>, by <%= book.author %></label></li>
  <% end %>
</ul>
<input type="hidden" name="student_id" value="<%= @student.id %>">

  <p>
    <%= submit_tag "Check out the selected book", class:"submit-button btn btn-success" %>
  </p>
</form>
