 <h2>Hi <%= @student.name %>, please select the book you'd like to return:</h2>

<form action="<%= @library.id %>/return_confirm" method="post" accept-charset="utf-8">
<ul class="pick-list" id="book-list">

<% @student.books.each do |book| 
    book_label_id = "books_book_id_ #{book.id}"
    %>
    
  <li><label> <%= check_box_tag("books[book_id][]", book.id) %> <em><%= book.title %></em>, by <%= book.authors %></label></li>
  <% end %>
</ul>
<input type="hidden" name="student_id" value="<%= @student.id %>">

  <p>
    <%= submit_tag "Return the selected book", class:"submit-button btn btn-success" %>
  </p>
</form>
