<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>Books in this library:</strong>
  <ul>
  <% @library.books.each do |book| %>
      <li><%= link_to book.title book_path(book) %></li>
  <% end %>
    </ul>

</p>


<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
