<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>Student:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Action:</strong>
  <%= @library_activity %>
</p>

<p>
  <strong>Books in this library:</strong>
  <tbody>
  <% @library.books.each do |book| %>
      <% if book.available == true %>
          <tr>
            <td><p><%= book.title %></td>
            <td>by <%= book.author %></p></td>
          </tr>
      <% else "It was a pleasure to burn." %>
      <% end %> 
  <% end %>
</tbody>

</p>


<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
