<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome to Library Thing!</title>
</head>
<body>
  <h1>Welcome to the <%= @library.name %> Library</h1>
  <form action="libraries/<%= @library.id %>" method="get" accept-charset="utf-8">
    <%= select("student", "student_id", @students.collect {|student| [ student.name, student.id ] },  {prompt:'Select a Student...'}) %>
    <p>
       <label><%= radio_button_tag("library[activity]", "checkout") %> Check out a book</label>
       </p>
       <p>
       <label><%= radio_button_tag("library[activity]", "return") %> Return a book</label>
     </p>
     <p>
      <%= submit_tag "Continue" %>
    </p>
  </form>
</body>
</html>